@import url('https://fonts.googleapis.com/css?family=Abel|Barlow|Fjalla+One|Karla|Maven+Pro|Poiret+One|Raleway&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: #FFFFFF;
    color: #7C7c7c;
    font-family: 'Abel', sans-serif;
    font-size: 18px
}

h1 {
    font-family: 'Fjalla One', sans-serif;
    color: cornsilk;
    font-feature-settings: normal;
    margin-bottom: 10px 0 20px 0;
    font-size: 38px;
    backface-visibility: visible;
    background-color: transparent;
    position: relative;
    padding-bottom: 10px;
    padding-bottom: 10px;
    letter-spacing: 2px;
}

h2 {
    font-family: 'Abel', sans-serif;
    color: antiquewhite;
    font-feature-settings: normal;
    font-size: 28px;
}

h3 {
    font-family: 'Raleway', sans-serif;
}

h4 {
    font-family: 'Karla', sans-serif;
}

h5 {
    font-family: 'Barlow', sans-serif;
}

h6 {
    font-family: 'Maven Pro', sans-serif;
    font-size: 10px;
    padding-bottom: 10px;


}


.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}

.logo: hover {
    background-blend-mode: screen;


}

p {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 30px;
    font-family: 'Raleway', sans-serif;
    padding: 2px;

}

ul {
    float: right;
    list-style-type: square;
    margin-top: 5px;

}

ul li {
    display: inline-block;

}

ul li a {
    text-decoration: #c46a15: #c46a15;
    padding: 1px 10px;
    border: 1px solid #fff;
    transition: 0.6s ease;
    background-blend-mode: screen;


}

ul li a:hover {
    background-color: #fff;
    color: #c46a15
}



header {
    background-image: url(../images/john.jovic.3.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;


}


nav {
    background-color: #FFFFFF;
    color: #7c7c7c;

}

main {
    background-color: #C46a15;
    color: #DBC7Af;
    padding: 40px;

}

footer {
    background-color: #dbdbdb;
    color: #c46a15;
}
